trigger:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  ARMIS_API_TOKEN: $(ARMIS_API_TOKEN)

steps:
- script: |
    curl -sSL https://raw.githubusercontent.com/silk-security/Moose-CLI/main/scripts/install.sh | bash
  displayName: 'Install Armis CLI'

- script: |
    armis-cli scan repo . --format junit --fail-on HIGH,CRITICAL > $(Build.ArtifactStagingDirectory)/scan-results.xml
  displayName: 'Run Security Scan'
  env:
    ARMIS_API_TOKEN: $(ARMIS_API_TOKEN)

- task: PublishTestResults@2
  condition: always()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/scan-results.xml'
    failTaskOnFailedTests: true
  displayName: 'Publish Scan Results'
