name: Release Snapshot

on:
  pull_request:
    branches:
      - main
      - master
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".goreleaser.yaml"
      - ".github/workflows/release*.yml"

permissions:
  contents: read

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          cache: true

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0.17.7

      - name: Run GoReleaser (Snapshot)
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot --skip-publish --skip-sign --clean

      - name: Upload snapshot artifacts
        uses: actions/upload-artifact@v4
        with:
          name: snapshot-artifacts
          path: |
            dist/*.tar.gz
            dist/*.zip
            dist/*checksums.txt
          retention-days: 3
